body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #171717; }

.section {
  position: relative;
  width: 100%;
  height: 50vw;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #272727;
  color: white; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container:not(.active) .swiper-pagination-bullets,
  .swiper-container:not(.active) .swiper-button-prev,
  .swiper-container:not(.active) .swiper-button-next {
    display: none; }

.swiper-wrapper {
  max-width: 750px; }
  .swiper-wrapper:not([style]) {
    margin: 0 auto; }

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 50px;
  color: #fff; }

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  opacity: 0.4; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 12px; }

.swiper-pagination-bullet-active {
  opacity: 1; }

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: white;
  width: 60px;
  height: 60px;
  font-size: 35px;
  margin-top: -30px; }

.swiper-button-prev {
  left: 0; }

.swiper-button-next {
  right: 0; }

[webgl-swiper] {
  background: #111; }
  [webgl-swiper] .canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  [webgl-swiper] .swiper-container {
    position: relative;
    z-index: 1; }
  [webgl-swiper] .swiper-slide {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    [webgl-swiper] .swiper-slide img {
      visibility: hidden; }
  [webgl-swiper] .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    display: none; }

[webgl-hover] {
  background: #222;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex: 1 0 59%;
  overflow: hidden; }
  [webgl-hover] .canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  [webgl-hover] img {
    display: none; }
  [webgl-hover] span {
    display: block;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 30px; }
